:root {
  --gc-main-color: #F29400;
  --gc-main-color-dark: #FF4E00;
  --gc-podcast-color: #FF004E;
  --gc-live-color: #FAFF00;
  --gc-stream-color: #AD00FF;
  --gc-kofi-color: #FF5F5F;
  --gc-patreon-color: #FF424D;
  --gc-spotify-color: #00D856;
  --gc-discord-color: #5865F2;
  --gc-twitch-color: #9146FF;
  --gc-twitter-color: #1DA1F2;
  --gc-youtube-color: #FF0000;
  --gc-facebook-color: #1877F2;
  --gc-instagram-color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  
  --gc-retro-bg-color: #2a3028;
  --gc-retro-text-color: #ffb938;
  
  --gc-dark-bg-color: #160035;
  --gc-dark-text-color: #F2F2F2;
  
  --gc-light-bg-color: #F2F2F2;
  --gc-light-text-color: #160035;

  --gc-light-color: #FFFFFF;
  --gc-gray-color: #F2F2F2;
  --gc-gray-dark-color: #E5E5E5;
  --gc-gray-darker-color: #BDBDBD;
  --gc-gray-darkest-color: #828282;
  --gc-gray-light-color: #F2F2F2;
  --gc-gray-lighter-color: #F2F2F2;
  --gc-gray-lightest-color: #F2F2F2;
  --gc-font-family: 'Anton', sans-serif;
  --gc-font-family-alt: 'Roboto', sans-serif;
}