@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "open-props/style";

@import "open-props/normalize";
@import "open-props/buttons";

@import "open-props/normalize/dark";
@import "open-props/buttons/dark";
@import "open-props/normalize/light";
@import "open-props/buttons/light";

@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes";
@import "open-props/gradients";

@import "_vars.scss";
@import "_settings.scss";

.header-logo{
  height: 100px;
  width: 650px;
}
.footer-logo{
  height: 59px;
  width: 392px;
}

@keyframes bg-scrolling {
  0% {
    background-position: -80px 240px;
  }
}

a.hover-active{
  position: relative;
  z-index: 1;
  &::after {
    background-color: var(--gc-main-color-dark);
    content: '';
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -.5em;
    right: -.5em;
    z-index: -1;
    transform: skew(350deg, 356deg);
    transition: 1s;
  }
  &:hover {
    &::after {
      display: block;
    }
  }
  &:not(.single){
    &::after{
      left: -1em;
      right: -2em;
    }
  }
}